@model massive_moose.web.owin.Models.WallsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_CreateANewWallPartial")

<h2>Your Walls</h2>

<table class="table table-condensed table-hover">
    <thead>
    <tr>
        <th>Invite Code</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var wall in Model.Walls)
        {
            <tr>
                <td>@wall.Label</td>
                <td>@Html.RouteLink("Open In Browser", "Wall", new { inviteCode = wall.InviteCode})</td>
                <td>@Html.ActionLink("Manage", "Manage", new { inviteCode = wall.InviteCode})</td>
            </tr>
        }
    </tbody>
</table>
    
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}