@model massive_moose.services.viewmodels.WallViewModel
@{
    ViewBag.Title = System.Configuration.ConfigurationManager.AppSettings["SiteName"];
    Layout = "~/Views/Shared/_Wall.cshtml";
}

@section stylesheets
{
    <link href="/content/draw.css" rel="stylesheet">
    <link href="/content/Wall.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=@System.Configuration.ConfigurationManager.AppSettings["ViewportScale"]"/>
    <style>
        .color {
	        padding: .5em;
	        margin-right: .4em;
	        border: 1px solid #aaa;
	        border-radius: 3px;
	        width: 140px;
        }
    </style>
}

@section scripts
{
    <!-- dependency: React.js -->
    <script type="text/javascript" src="/Scripts/hammer.min.js"></script>
    <script src="/scripts/screenfull.js"></script>
    <script src="/scripts/wall.js"></script>
    <script src="/scripts/draw.js"></script>
    
    <script type="text/javascript">
        var draw = Draw();
        draw.initialize(document.getElementById('drawSpace'),
        {
            width: 1600,
            height: 900,
  onExportImage: function(sessionData,imageData,json) {
                sessionData.wallInstance.endSession(sessionData, imageData, json);
            },
            onCanceled: function(sessionData) {
                sessionData.wallInstance.cancelSession(sessionData);
            }
        });

        Wall.initialize(document.getElementById('wall'),
            {
                baseApiUrl: '@System.Configuration.ConfigurationManager.AppSettings["MMApi"]',
                drawZoom: @System.Configuration.ConfigurationManager.AppSettings["DrawZoom"],
                viewPortScaleWhenDrawing:
                    @System.Configuration.ConfigurationManager.AppSettings["ViewportScaleWhenDrawing"],
                viewPortScale: @System.Configuration.ConfigurationManager.AppSettings["ViewportScale"],
                inviteCode: '@Model.InviteCode',
                toolbarShowDelay: 300,
                firstTime: '@(!Model.DontHelpMe)',
                refreshTime: @System.Configuration.ConfigurationManager.AppSettings["WallRefreshTime"],
                drawingApp: draw,
                startDrawing: function(data) { document.getElementById('drawSpace').scrollIntoView(); draw.startDrawing(data);}
            }
        );
    </script>
}

<div id="wall">
    <table id="tblWall" style="background-image: url('@Model.BackgroundImageUrl')">
        @for (int y = 0; y < 12; y++)
        {
            <tr class="@(y%2 == 1 ? "offset_row" : "row")">
                @for (int x = 0; x < 12; x++)
                {
                    var brick = Model.Bricks[x, y];
                    if (brick != null)
                    {
                        <td class="brick @(brick.U == 1 ? "inuse" : "free")" 
                            data-inuse="@brick.U" 
                            id="c@(y*12 + x)" 
                            data-viewX="@x"
                            data-viewY="@y"
                            data-addressx="@brick.X"
                            data-addressy="@brick.Y"
                            data-updated="@brick.D"
                            @if (brick.C == 1)
                            {
                                <text>style="background-image: url('@Model.GetThumbnailUrl(brick)')"</text>
                            }>
                            @if (brick.U == 1)
                            {
                                <span class="bc iu glyphicon glyphicon-ban-circle"></span>
                            }
                            else
                            {
                                <span class=""></span>
                            }
                        </td>
                    }
                    else
                    {
                        <td class="brick" id="c@(y*12 + x)">
                            @if (brick.U == 1)
                            {
                                <span class="bc iu glyphicon glyphicon-ban-circle"></span>
                            }
                            else
                            {
                                <span class=""></span>
                            }
                        </td>
                    }
                }
            </tr>
        }
    </table>
</div>
<div id="drawSpace" style="display:none"></div>


@if (!Model.DontHelpMe)
{
    <div id="help" class="panel panel-default">
        <a href="#" id="help-close"><span class="glyphicon glyphicon-remove"></span></a>
	    <div class="container" id="help-question">
	    	<div class="alert alert-danger" style="display:none" id="rotate-alert" role="alert">
	  		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	  		<span class="sr-only">Error:</span>
	  		Rotate your screen for best results!
		</div>
	        <div class="row">
	            <div class="col-md-12 text-center">It looks like it's your first time here... want a quick explanation?</div>
	        </div>
	        <div class="row">
	            <div class="col-sm-5 text-right visible-sm-block visible-md-inline-block visible-lg-inline-block"><a href="#" id="moreHelp1">Yes please! <span class="glyphicon glyphicon-triangle-bottom"></span></a></div>
	            <div class="col-sm-2 text-center visible-sm-block visible-md-inline-block visible-lg-inline-block">|</div>
	            <div class="col-sm-5 text-left visible-sm-block visible-md-inline-block visible-lg-inline-block"><a href="#" id="noHelpThanks1">No, I got this. <span class="glyphicon glyphicon-remove"></span></a></div>
	            <div class="col-sm-12 text-center visible-xs-block"><a href="#" id="moreHelp2">Yes please! <span class="glyphicon glyphicon-triangle-bottom"></span></a></div>
	            <div class="col-sm-12 text-center visible-xs-block"><a href="#" id="noHelpThanks2">No, I got this. <span class="glyphicon glyphicon-remove"></span></a></div>
	        </div>
	    </div>
        <div id="help-scroller" class="panel-body">
            <div class="container" id="help-full-container" style="display:none">
                <div class="row">
                    <div class="col-xs-12" id="help-full"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center"><a href="#" id="noHelpThanks3">Thanks, I got this. <span class="glyphicon glyphicon-remove"></span></a></div>
                </div>
            </div>
        </div>
        <div id="diagnostics"></div>
    </div>
}
